
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:ital,wght@0,800;1,300&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
.st{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  body{
    background-color: #dfe9f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .wrapper{
    width: 400px;
    padding: 2rem 1rem;
    max-width: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(106, 40, 40, 0.1);
  }

  h1{
    font-size: 2rem;
    color: #07001f;
    margin:1.2rem;
  }

  form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #e4e4e4;

  }

  button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background: rgb(17, 107, 143);
    
  }
  button:hover{
    background-color: rgba(0, 107, 143, 0.877);
    
  }
  input:focus{
    border: 1px solid rgb(192, 192, 192);
  }