/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #110101;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 60px;
  }
  
  .navbar__logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Sidebar */
  .sidebar {
    background-color: #f5f5f5;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 0;
  }
  
  .sidebar__nav {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar__nav li {
    padding: 10px;
  }
  
  .sidebar__nav li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .sidebar__nav li a:hover {
    background-color: #ebebeb;
  }
  
  .sidebar__nav li a.active {
    background-color: #d9d9d9;
  }
  
  /* Content */
  .content {
    margin-top: 60px;
    margin-left: 200px;
    padding: 20px;
  }
  
  .content h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .content table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .content th,
  .content td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .content th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  